# --- المكتبات الأساسية التي أضفتها أنت ---
fastapi
uvicorn
python-multipart
sqlalchemy
psycopg2-binary
supabase
playwright
httpx
aiofiles
jinja2
python-dotenv
pydantic
pycryptodome
qrcode[pil]  
Pillow            
python-slugify